body{
    font-family: 'Inter', sans-serif;

}
.Background{
    background-color:#F5EBDC;

}

.principal h1{

    color:#D42401 ;
}
.subtitulo{
    color:#502314 ;
}
.Descrição spam{
    color: #D42401;

}

.imagem1 h3{
    color:#D42401 ;
}

.imagem2 h3{
    color:#D42401 ;
}

.imagem3 h3{
    color:#D42401 ;
}

.imagem4 h3{
    color:#D42401 ;
}

.imagem5 h3{
    color:#D42401 ;
}

.imagem6 h3{
    color:#D42401 ;
}

.Ultimo spam{
    color: #D42401;

}